<section id="shop-main-background-img">
    <div class="container">
        <h1 class="text-center">About Us</h1>
    </div>
</section>

<section id="about-text-content">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-8">
                <h5 class="pt-5">Our Mission</h5>
                <p class="pt-4">Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna
                    aliqua. Quis
                    ipsum
                    suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus
                    commodo
                    viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
                <p>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd
                    dho
                    eiusmod tempor maecenas accumsan.</p>
            </div>
            <div class="col-lg-8">
                <h5 class="pt-5">Our Mission</h5>
                <p class="pt-4">Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna
                    aliqua. Quis
                    ipsum
                    suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus
                    commodo
                    viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
                <p>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd
                    dho eiusmod tempor maecenas accumsan.</p>
            </div>
        </div>
    </div>
</section>

<app-video></app-video>

<app-payment-system></app-payment-system>