<form action="" class="px-4">
    <h5 class="text-center">Welcome | Please Sign in now</h5>

    <div class="form-group mt-4">
        <input type="text" name="username" class="form-control py-2" placeholder="Enter your username">
    </div>

    <div class="form-group mt-4">
        <input type="password" name="password" class="form-control py-2" placeholder="Enter your password">
    </div>

    <span class="d-block mt-3">
        <a href="#">Forget Password?</a>
    </span>

    <button class="btn secondary-button mt-3">LOG IN</button>
</form>